Checks: '-*,
bugprone-*,
clang-analyzer-*,
clang-diagnostic-*,
llvm-include-order,
misc-*,
modernize-use-bool-literals,
modernize-use-equals-default,
modernize-use-equals-delete,
modernize-use-override,
modernize-use-nullptr,
performance-*,
portability-*,
readability-*,
-readability-implicit-bool-conversion,
-readability-isolate-declaration,
-readability-magic-numbers,
-readability-named-parameter,
-readability-uppercase-literal-suffix'

CheckOptions:
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: '1' }
